html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
}

body{
	background-color: #efefef;
	font-family: 'Comfortaa';
}

/* @media (min-width: 550px) .column, .columns{
	margin-left: 0px;
} */

.three.columns {
    width: 25%;
}

.four.columns {
    width: 33.333333333%;
}

.container{
	width: 100%;
	max-width: none;
}

.row{
	width: 100%;
}

.page-head{
	padding-top: 10px;
	background-color: #641E16  ;
	color: #E5E8E8;
	font-family: 'Rock Salt';
}

.headline{
    padding-left: 6%;
    padding-top: 3%;
}

.ellie{
	width: 200px;
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	margin-left: 20px;
	padding: 2px;
}

.language-slider{
	width: 100%;
	padding-top: 2%;
	padding-bottom: 7%;
	background-color: #D7DBDD;
	margin: 0px;
}

.skill-header{
	text-align: center;
	font-weight: 700;
	margin: 7%;
	font-family: "Rock Salt";
}

.logo{
	width: auto;
	height:  65px;
	display: block;
	margin-left: auto;
	margin-right:  auto;
}

.projects{
	background-color: #D7DBDD;
	padding:  5%;
}

.details-button img{
	height: 50px;
	width: auto;
}

.details-button{
	padding-top:  5%;
	padding-bottom: 5%;
	margin: 0px;
	background-color: #D7DBDD;
}










.calendar {
    width: 100%;
    height: auto;
    font-family: "Comfortaa";
    background-color: #D7DBDD;
/*     border: 1px solid #DDDDDD; */
    border-radius: 6px;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
    font-size: 10px;
    fill: #222;
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: #767676;
}

.calendar-graph {
    padding: 5px 0 0;
    height: 126px;
    text-align: center;
}

.contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 11px;
}

.contrib-column-first {
    border-left: 0;
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #333;
}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
	text-align: center;

}



